{% extends "match-form.html" %}

{% block content %}
    {% for message in get_flashed_messages() %}
        <div class='alert alert-info text-center alert-dismissible fade show mx-auto my-2 w-75' role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <form method="POST" enctype="multipart/form-data" class="justify-content-center">
        {{ form.csrf_token }}
        <div class="row justify-content-center container">
            <div class="col-lg-6 card p-2">
                <h5 class="card-title fw-bold mb-0">BECOME A MEMBER</h5>
                <hr>
                <div class="input-group mb-3">
                    {{ form.username.label(class_="input-group-text") }} {{ form.username(class_="form-control") }}
                </div>
                <div class="input-group mb-3">
                    {{ form.password.label(class_="input-group-text") }} {{ form.password(class_="form-control") }}
                </div>
                <hr>
                {{ form.submit(class_="btn btn-dark") }}
            </div>
        </div>
    </form>
{% endblock %}
