{% extends "match-form.html" %}

{% block content %}
    <form method="POST" enctype="multipart/form-data" class="justify-content-center">
        {{ form.csrf_token }}
        <div class="row justify-content-center container">
            <div class="col-lg-6 card p-2">
                <h5 class="card-title fw-bold mb-0">LADDER MATCH (SINGLES)</h5>
                <hr>
                <div class="row justify-content-center">
                    <div class="col-5">
                        <div class="input-group mb-3">
                            {{ form.player_1.label(class_="input-group-text remove") }} {{ form.player_1(class_="form-control text-end") }}
                        </div>
                    </div>
                    <div class="col-1 p-0 vertically-align">
                        <h6 class="versus">VS</h6>
                    </div>
                    <div class="col-5">
                        <div class="input-group mb-3">
                            {{ form.player_2(class_="form-control") }} {{ form.player_2.label(class_="input-group-text remove") }}
                        </div>
                    </div>
                </div>
                <h5>Scores</h5>
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-5">
                        <div class="input-group input-group-sm mb-3">
                            {{ form.score_1(class_="form-control text-end") }}
                            <span class="input-group-text">-</span>
                            {{ form.score_2(class_="form-control") }}
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-6">
                        <div class="input-group mb-3">
                            {{ form.week.label(class_="input-group-text") }} {{ form.week(class_="form-control") }}
                        </div>
                    </div>
                    <div class="col-lg-5 col-6">
                        <div class="input-group mb-3">
                            {{ form.year.label(class_="input-group-text") }} {{ form.year(class_="form-control") }}
                        </div>
                    </div>
                </div>
                <hr>
                {{ form.submit(class_="btn btn-dark") }}
            </div>
        </div>
    </form>
{% endblock %}
